<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.alexzielenski.mousecape.agent</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>LoginWindow</string>
		<string>Aqua</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/Alex/Library/Developer/Xcode/DerivedData/Mousecape-dvntzceucjrtboerxvsmgfcilbmk/Build/Products/Debug/mousecloak</string>
		<string>--apply</string>
		<string>/Users/Alex/Desktop/Svanslös Blue.cape</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Preferences/com.alexzielenski.magicmouse.plist</string>
	</array>
</dict>
</plist>
