<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.coregraphics.Alias</key>
	<string>Alias</string>
	<key>com.apple.coregraphics.Arrow</key>
	<string>Arrow</string>
	<key>com.apple.coregraphics.ArrowCtx</key>
	<string>Ctx Arrow</string>
	<key>com.apple.coregraphics.Copy</key>
	<string>Copy</string>
	<key>com.apple.coregraphics.Empty</key>
	<string>Empty</string>
	<key>com.apple.coregraphics.IBeam</key>
	<string>IBeam</string>
	<key>com.apple.coregraphics.IBeamXOR</key>
	<string>IBeamXOR</string>
	<key>com.apple.coregraphics.Move</key>
	<string>Move</string>
	<key>com.apple.coregraphics.Wait</key>
	<string>Wait</string>
	<key>com.apple.cursor.10</key>
	<string>Camera</string>
	<key>com.apple.cursor.11</key>
	<string>Closed</string>
	<key>com.apple.cursor.12</key>
	<string>Open</string>
	<key>com.apple.cursor.13</key>
	<string>Pointing</string>
	<key>com.apple.cursor.14</key>
	<string>Counting Up</string>
	<key>com.apple.cursor.15</key>
	<string>Counting Down</string>
	<key>com.apple.cursor.16</key>
	<string>Counting Up/Down</string>
	<key>com.apple.cursor.17</key>
	<string>Resize W</string>
	<key>com.apple.cursor.18</key>
	<string>Resize E</string>
	<key>com.apple.cursor.19</key>
	<string>Resize W-E</string>
	<key>com.apple.cursor.2</key>
	<string>Link</string>
	<key>com.apple.cursor.20</key>
	<string>Cell XOR</string>
	<key>com.apple.cursor.21</key>
	<string>Resize N</string>
	<key>com.apple.cursor.22</key>
	<string>Resize S</string>
	<key>com.apple.cursor.23</key>
	<string>Resize N-S</string>
	<key>com.apple.cursor.24</key>
	<string>Ctx Menu</string>
	<key>com.apple.cursor.25</key>
	<string>Poof</string>
	<key>com.apple.cursor.26</key>
	<string>IBeam H.</string>
	<key>com.apple.cursor.27</key>
	<string>Window E</string>
	<key>com.apple.cursor.28</key>
	<string>Window E-W</string>
	<key>com.apple.cursor.29</key>
	<string>Window NE</string>
	<key>com.apple.cursor.3</key>
	<string>Forbidden</string>
	<key>com.apple.cursor.30</key>
	<string>Window NE-SW</string>
	<key>com.apple.cursor.31</key>
	<string>Window N</string>
	<key>com.apple.cursor.32</key>
	<string>Window N-S</string>
	<key>com.apple.cursor.33</key>
	<string>Window NW</string>
	<key>com.apple.cursor.34</key>
	<string>Window NW-SE</string>
	<key>com.apple.cursor.35</key>
	<string>Window SE</string>
	<key>com.apple.cursor.36</key>
	<string>Window S</string>
	<key>com.apple.cursor.37</key>
	<string>Window SW</string>
	<key>com.apple.cursor.38</key>
	<string>Window W</string>
	<key>com.apple.cursor.39</key>
	<string>Resize Square</string>
	<key>com.apple.cursor.4</key>
	<string>Busy</string>
	<key>com.apple.cursor.40</key>
	<string>Help</string>
	<key>com.apple.cursor.41</key>
	<string>Cell</string>
	<key>com.apple.cursor.42</key>
	<string>Zoom In</string>
	<key>com.apple.cursor.43</key>
	<string>Zoom Out</string>
	<key>com.apple.cursor.5</key>
	<string>Copy Drag</string>
	<key>com.apple.cursor.7</key>
	<string>Crosshair</string>
	<key>com.apple.cursor.8</key>
	<string>Crosshair</string>
	<key>com.apple.cursor.9</key>
	<string>Camera</string>
</dict>
</plist>
