<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mousecape Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Mousecape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mousecloak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mousecloakHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAC69F60189D603C00BC829D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC69F81189D603C00BC829D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC69F9B189D605300BC829D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC69FAC189D608900BC829D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE5D54819526F82007620DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE5D55A19526F82007620DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
